@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "welcome";
@import "nav";

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  background-image: url(/img/white_leather.png);
}

img {
  max-width: 100%;
}

iframe {
  display:block;
  width: 80%;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron {
  color:black;
  text-shadow: 0px 0px 17px white;
}

.jumbotron p {
  background-color: white;
  padding: 5px;
  display: inline-block;
  box-shadow: 0px 0px 5px #8a8a8a;
}

.thumb {
  max-width: 200px;
  max-height: 200px;
}

.photo-gallery-item {
    margin-bottom: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.panel {
  margin-top: 20px;
}

.no-footer {
  margin-bottom: 0px;
}

#calendar{
  background-color: white;
  padding-top: 15px;
}

#calendar a{
    text-align: center;
}

#currentprice {
  font-size: 2em;
  color: rgba(0, 182, 0, 0.97);
}

@media (min-width: 992px) {
  .pull-right-md {
    float: right;
  }
}
