@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar {
  margin-bottom: 0;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
img {
  max-width: 100%;
}
iframe {
  display:block;
  width: 80%;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
}
.thumb {
  max-width: 200px;
  max-height: 200px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.no-footer {
  margin-bottom: 0px;
}

#welcome-page {
  background-image: url('/img/horses_05.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
#welcome-page a:hover, a:visited, a:link, a:active{

  text-decoration: none;
}

#welcome-page h1 {
  font-size: 4em;
  color:white;
  text-shadow: 2px 2px black;
  margin: 0px;
  padding-top: 50vh;
  text-decoration: none;
}

#price {
  font-size: 2em;
  color: rgba(0, 182, 0, 0.97);
}
