@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "welcome";
@import "nav";

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
img {
  max-width: 100%;
}
iframe {
  display:block;
  width: 80%;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
}
.thumb {
  max-width: 200px;
  max-height: 200px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.no-footer {
  margin-bottom: 0px;
}



#currentprice {
  font-size: 2em;
  color: rgba(0, 182, 0, 0.97);
}
